body{
  font-family: 'HarmoniaSans',Arial!important;
  background: black;
  background: linear-gradient(white,#DADADA);
  background-repeat: repeat;
  box-sizing: border-box;
  background-size: cover;
  Overflow:hidden;
  height: auto;
  width: auto;
}
.container-All{
	max-width: 430px;
	min-width: 300px;
	height: 750px;
	margin-left: auto;
	margin-right: auto; 
	color:white;
	display: grid;
    grid-template-rows: 0.6fr 0.1fr 3fr;
}
.container-All > * {
	padding-right: 0.3em; 
	padding-left: 0.3em;
}
.section-1{
	padding-top: 1em;
	/*border: 5px solid blue;*/
}
.section-2{
	/*border: 5px solid blue;*/
	padding-top: 0.5em;
	color: black;
}
.section-3{
	/*grid-area:  f;*/
	/*border: 5px solid green;*/
}

i{
	font-size: 27px;
	float: left;
}
.profile-image{
	 transform: translateX(10.5em) translateY(2em);
}
.main-form{
	border: 1px solid rgba(0,0,0,0.5);
    border-radius: 3px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.2);
    font-weight: bold;
    padding-right: 0.6em;
	padding-left: 0.6em;
	display: grid;
	grid-row-gap: 0.3em;
}
.header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  color: black;
}
.penSize{
	font-size: 35px;
}
.toggle-line{
	text-align: center;
	color: black;
	padding-top: 0em;
}
.fbicon{
	color: #4267B2;
}
.googleicon{
	float: left;
}
.googleicontext{
	color: white;
}
.icontext{
	color: white;
}
.icontext:hover{
	color:#4267B2;
}
.googleicontext:hover{
	color: #F24E1E;
}
.btn-black{
	background: black;
}
@media screen and (max-width: 768px && min-width: 450px) { 
	.profile-image{
		transform: translateX(12em) translateY(2em);
	}
}
@media (max-width: 450px) { 
	.profile-image{
		transform: translateX(10.2em) translateY(2em);
	}
}
@media screen and (min-width: 770px) { 
   .container-All{
	height: 750px;
	display: grid;
	max-width: 1000px;
	grid-template-columns:  3.5fr 1fr 3.5fr;
	margin-right: auto;
	margin-left: auto; 
}
.none{
	border: 5px solid white;
}
/* small small things*/
.profile-image{
	 transform: translateX(10em) translateY(2.5em);
}
i{
	font-size: 27px;
	float: left;
}
.penSize{
	font-size: 35px;
}
.fbicon{
	color: #4267B2;
}
.googleicon{
	float: left;
}
.googleicontext{
	color: white;
}
.btn-black{
	background: black;
}
.header{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5em;
  color: black;
}
.section-1{
	/*border: 5px solid yellow;*/
	padding-top: 18em;
}
.section-2{
	/*border: 5px solid green;*/
}
.section-3{
	/*border: 5px solid red;*/
	padding-top: 2em;
}
.container-form{
  
}
.toggle-line{
	text-align: center;
	padding-top: 20em;

}
.main-form{
	display: grid;
	grid-row-gap: 0.3em;
	border: 1px solid rgba(0,0,0,0.5);
    border-radius: 3px;
    box-sizing: border-box;
    background: rgba(0,0,0,0.2);
    font-weight: bold;
    padding-right: 1em;
	padding-left: 1em;
	max-width: 450px;
}
}